<%-include('./partials/header')%> 
<%-include('./partials/navbar')%>
<%-include('./partials/flash')%>

<div class="product-list-card-parent">
  <div class="card wasistyle wstyleshowjs" style="width: 18rem">
    <img src="<%=item.image%>" class="card-img-top semi-circle" alt="<%=item.name%>" />
    <div class="card-body">
      <h5 class="card-title"><%=item.name%></h5>
      <h5 class="card-title"><%=item.price%></h5>
      <p class="card-text"><%=item.description%></p>
      <a href="/home" class="btn btn-primary">Return Hone</a>
      <form class="container frm-btn" action="/product/<%=item._id%>/delete?_method=DELETE" method="post">
        <%if(currentUser && currentUser.role === 'seller'){%>
        <button class="btn btn-primary" type="submit">Delete Product</button>
        <%}%>
      </form>
      <form class="container frm-btn" action="/product/<%=item._id%>/cart" method="post">
        <button class="btn btn-primary">Add To Cart</button>
      </form>
    </div>
  </div>
</div>
<div>
<div class="review-card-parent">
  <% for(let review of item.reviews){ %>
    <div class="review-card">
  <p style="color: #e5345b;" class="starability-result" data-rating="<%=review.rating%>"></p>
  <p class="testimonial">"<%=review.comment%>"</p>
  <% if(review.createdAt){ %>
  <h3 class="timestamp">Time: <%=review.createdAt.toDateString()%></h3>
  <% } %> </div> <% } %>

  

</div>
<form class="review-form wasistyle mt-5" action="/review/<%=item._id%>/new" method="post">
  <label for="rating">Your Feedback Makes Us Better Every Day</label>
  <fieldset class="starability-basic">
    <input
      type="radio"
      id="no-rate"
      class="input-no-rate"
      name="rating"
      value="0"
      checked
      aria-label="No rating."
    />
    <input type="radio" id="first-rate1" name="rating" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="rating" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="rating" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="rating" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="rating" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>

  <label for="comment">Comment: </label>
  <input
    type="text"
    class="form-control"
    id="comment"
    name="comment"
    placeholder="Enter your comment"
    required
  />

  <button class="btn btn-primary" type="submit" data-feild="button">Submit Review</button>
</form>
</div>
<%-include('./partials/footerbar')%>


